
@{
    ViewData["Title"] = "Add New Event";
}

<h1>Add New Event</h1>
Anyway to add like a drop down with the list of events in the group name field?
<div>
    <form action="../Home/AddEventToDatabase" method="post">
        <label class="col-3">Event: </label><input type="text" name="eventname" value="" placeholder="Type event here"/>
        <label class="col-3">Group Name: </label><input type="text" name="groupname" value="" placeholder="" />
        <label class="col-3">Date/Time: </label><input type="datetime" name="dateandtime" value="" placeholder="00/00/0000 00:00 AM/PM" />
        <label class="col-3">Location/Venue: </label><input type="text" name="venue" value="" />
        <label class="col-3">Area (City,ST or ZIP): </label><input type="text" name="venuelocation" value="" placeholder="Detroit, MI" />
        <br /><input class="btn btn-success" type="submit" value="Submit" />
    </form>
</div>

