
@{
    ViewData["Title"] = "AddMember";
}

<h1>Add Member!</h1>
<br />
<br />
<form>
    <input type="text" name="memberName" placeholder="Member's Name" />
    <input type="text" name="phoneNumber" placeholder="In this format: +1##########" />
    <br />
    <br />
    <input class="btn btn-primary" type="submit" value="Submit!" />
    <br />
    <br />
</form>

<button class="btn btn-success" onclick="window.location.href='../Home/GroupMember">Save Changes</button>