@Html.ValidationSummary()
@{
    ViewData["Title"] = "AddPhoneNumber";
}

<h1>Add Your Phone Number!</h1>
<br />
<br />
<form>
    <input type="text" name="phoneNumber" placeholder="In this format: +1##########" />
    <br />
    <br />
    <input class="btn btn-primary" type="submit" value="Submit!" />
    <br />
    <br />
</form>