@Html.ValidationSummary();
<h1>Create a Group</h1>
<br />
<br />
<br />
<form action="../Home/CreateGroup" method="post">
    <input type="text" name="GroupName" value="" placeholder="Group Name" />
    <br />
    <br />
    <br />
    <input class="btn btn-success" type="submit" value="Submit" />
</form>


