@Html.ValidationSummary()

<br />
<br />
<h1 class="text-light">Create a Group</h1>
<br />
<br />
<br />
<form action="../Home/CreateGroup" method="post" class="form-control-lg">
    <input type="text" name="GroupName" value="" placeholder="Group Name" />
    <br />
    <br />
    <br />
    <input class="btn btn-success" type="submit" value="Submit" />
</form>


