
@{
    ViewData["Title"] = "GetExplanation";
}

<h1>Description</h1>

<br />
<br />
<br />
<h3 style="text-decoration-color:white" class="text-center">
    Welcome to Notifly!
</h3>
<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Motto
        </a>
      </h5>
    </div>
   </div>
    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-body">
        So easy you don't have to open it!
      </div>
    </div>
  </div>
<div class="card">
    <div class="card-header" role="tabpanel" id="headingTwo">
        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                What is Notifly?
            </a>
        </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-body">
            Users can notify and organize events on the fly with Notifly!<br /><br />
            Once registered, the admin can set up a gathering with one simple 
            text that sends out all the details to the whole group they've created. It's easy to respond to the invite too,  with a simple 
            'yes' or a 'no', with an identification number, it will automatically update their response in your personal table. The best part is, 
            you don’t need to open the application! Although the application is there to view all attendees, to alter any information in the groups, and more.  
            In about seconds, the user could get an organized activity up and ready.<br /><br/>
            It takes the hassle out of planning. Give Notifly!
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    How do can I join the Notifly Family?
                </a>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-body">
                Here is the Step By Step Process:<br /><br />
                1. Open up Notifly Application<br />
                2. Register an account<br />
                <img scr="~/img/registration_notifly1.jpg" width="100" height="100" /><br />
                3. On the top border, click on the Groups button<br />
                4. On the bottom of page click on 'Create Group' and add in a 'Group Name'<br />
                5. Add the members you would like to be part of the Group Name. A success bar will pop up when each member is added.<br />
                6. Once done, SAVE your changes.<br />
                7. Go Back to Groups page and check if your group has been added to your account.<br />
                8. [Optional] Incase you want to make changes to the your group, 'Group Details' by your Group Name to add, edit, or remove any group members.<br />
                9. [Optional] Double Check to make sure everything looks correct.<br />
                10. On your phone go to your messaging app with the format below, text your friends/ coworkers/etc.<br />
                Event Name:                 @*<img scr="~/img/registration_notifly1.jpg" width="100" height="100" align="middle" /><br />*@
                Date and Time:<br />
                Venue:<br />
                City, State<br />
                Group Name:(What you created in the app)<br />
                11. And just like that, your event is sent to all the members added to the group.<br />
                12. On the recipients end, they will get a message and must reply with a 'yes [identification number]' or 'no [identification number]'<br />
                13. In the Website, go to RSVP to view all that are attending to the event.<br />
                14. And just like that, you are done! <br /><br />
                The more groups you add, the easier it is to set up an events on the fly.<br />
            </div>
        </div>
    </div>
</div>