@model List<Groups>
<br />
<br />
<h1 class="text-light text-center">Your Groups</h1>
<br />
<br />
<table class="table table-bordered table-striped table-light">
    <tr class="text-light" style="background-color:#39c">
        <th>Group Name</th>
        <th>More Details</th>
        <th>Delete Group</th>
    </tr>
    @foreach (var g in Model)
    {
        <tr class="bg-white text-dark">
            <td>@g.GroupName</td>
            <td><button class="btn btn-info" onclick="window.location.href='../Home/GroupDetails?groupId=@g.GroupId'">Group Details</button></td>
            <td><button onclick="window.location.href = '../Task/RemoveGroup?groupId=@g.GroupId'" type="button" class="btn btn-dark btn-outline-danger">🗑️</button></td>
        </tr>
    }
</table>

<br />
<br />

<button class="btn btn-light btn-outline-success btn-lg text-dark" onclick="window.location.href='../Home/CreateGroup'">Create Group</button>
