
@{
    ViewData["Title"] = "GroupDetails";
}

@model List<GroupMembers>

<h1 class="text-light text-center">Group Members</h1>

<table class="table table-bordered table-striped">
    <tr class="text-light" style="background-color:#39c">
        <th>Name</th>
        <th>Phone Number</th>
        <th>Update Info</th>
        <th>Delete Member</th>
    </tr>
    @foreach (GroupMembers member in Model)
    {
<tr class="bg-white text-dark">
    <td>@member.MemberName</td>
    <td>@member.PhoneNumber</td>
    <td><button class="btn btn-primary" onclick="window.location.href='../Home/EditMember?memberid=@member.MemberId'">Edit Member</button></td>
    <td><button class="btn btn-danger" onclick="window.location.href='../Home/RemoveMember?memberid=@member.MemberId'">Remove Member</button></td>
</tr>
    }
    </table>
<button class="btn btn-success" onclick="window.location.href='../Home/AddMember'">Add Member</button>