
@{
    ViewData["Title"] = "Tutorial";
}

<h1 class="text-light text-center">How To Get Started</h1>

<br />
<br />
<br />
<h3 class="text-center text-light">Welcome to Notifly!</h3>
<div id="accordion" role="tablist">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Step 1: Register An Account
                </a>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body">
                <img src="~/img/registration.jpg" width="300" height="200" />
                -- <img src="~/img/registration_02.jpg" width="300" height="200" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Step 2: Create A Group
                </a>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-body">
                <h3>Website Method:</h3> a. Create a group on the website by going into the Group Tabs Method on top.<br />
                <img src="~/img/create_group_01.jpg" width="300" height="200" />
                <img src="~/img/create_group_02_.jpg" width="300" height="200" />
                <br /><br /><br />
                <h3>SMS Method:</h3> b. Create a Group & Add Members via SMS Messaging <br />
                <img src="~/img/creategroup_sms.jpg" width="250" height="300" />
                <img src="~/img/creategroup_sms_example.jpg" width="250" height="300" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Step 3: Add Members
                </a>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-body">
                <h3>Website Method</h3>
                <img src="~/img/create_group_03_.jpg" width="300" height="200" />
                <img src="~/img/create_group_04_.jpg" width="300" height="200" /><br />
                <h3>SMS Method: Go back to Step 2</h3>

            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingFour">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Step 4: Save Your Changes 
                    </a>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="card-body">
                    a. Check your Group Name and make sure there are no errors in Group Details.
                    <img src="~/img/your_groups.jpg" width="300" height="200" />
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingFive">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        Step 5: View Group to make sure there are no errors. 
                    </a>
                </h5>
            </div>
            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="card-body">
                    <img src="~/img/create_group_05.jpg" width="300" height="300" />
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingSix">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        Step 6: [Optional] Edits.
                    </a>
                </h5>
            </div>
            <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="card-body">
                    <h3>Edit, Remove, or Add Members</h3>
                    <img src="~/img/create_group_05_.jpg" width="300" height="200" />
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingSeven">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                        Step 7: Make an Event
                    </a>
                </h5>
            </div>
            <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
                <div class="card-body">
                    <h3>In SMS, type out:</h3>
                    <img src="~/img/send_event.jpg" width="300" height="200" />
                    <img src="~/img/send_event_ex.jpg" width="300" height="200" /> <br /> <br />
                    <h3>You will recieve a response to send a reminder</h3>
                    <h4>Text 'r [Group Number]' ]</h4>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingEight">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                        Step 8: Check Out Your RSVPs
                    </a>
                </h5>
            </div>
            <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
                <div class="card-body">
                    <h3>a. Click On the 'Events Tab' ontop</h3>
                    <h3>b. Click On 'RSVP' button</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingEight">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                        Step 8: You're Done!
                    </a>
                </h5>
            </div>
            <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
                <div class="card-body">
                    <h3>Thanks For Trying Notifly!</h3>
                </div>
            </div>
        </div>
    </div>
