
@{
    ViewData["Title"] = "Tutorial";
}

<br />
<br />
<br />
<h3 style="text-decoration-color:white" class="text-center">
    Tutorial
</h3>
<div id="accordion" role="tablist">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Step 1: Register an account.
                </a>
            </h5>
        </div>
    </div>
    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-body">
            <img scr="~/img/registration_notifly1.jpg" width="100" height="100" /><br />
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" role="tabpanel" id="headingTwo">
        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                Step 2: Create A Group.
            </a>
        </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-body">
            Website Method: Create a group on the website by going into the Group Tabs Method on top.<br />
            <img scr="~/img/creategroup.jpg" width="100" height="100" align="middle" /><br />
            SMS Method: Or simply Create a Group on your phone.
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Step 3: Save Changes.
                </a>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-body">
                @* insert a picture where the mouse is hovering over the Save Changes button *@
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingFour">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    Step 4: Check Changes.
                </a>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="card-body">
                @* insert a picture where you check the group has been added *@
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingFive">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    Step 5: [Optional] Edits.
                </a>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="card-body">
                @* Picture where they could view edits*@
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingSix">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                    Step 6: Text An Event On Your Phone.
                </a>
            </h5>
        </div>
        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="card-body">
                @* Picture where they could view edits*@
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingSeven">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                    Step 7: After some time, check for RSVPs
                </a>
            </h5>
        </div>
        <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="card-body">
                In the Events Table --> Check RSVPs
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingEight">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                    Step 8: You Are Done!
                </a>
            </h5>
        </div>
        <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
            <div class="card-body">
                Thanks For Trying Notifly!
            </div>
        </div>
    </div>
</div>