
@{
    ViewData["Title"] = "CreateGroup";
}

<h1>Create a Group</h1>

<form action="../Home/CreateGroup" method="post">
    <input type="text" name="GroupName" value="" placeholder="Group Name" />
    <input type="text" name="GroupMembers" value="" placeholder="Member Names" />
    <input type="text" name="PhoneNumber" value="" placeholder="+11234561790" />
</form>