
@{
    ViewData["Title"] = "ListOfGroups";
}

<h1>ListOfGroups</h1>

<table>
    <tr>
        <th>Group Name</th>
        <th>Group Members</th>
        <th><a href="../Home/Details">More Member Details</a></th>
    </tr>
</table>

